body {
	font-family: 'Open Sans', sans-serif;
	color: #201b2d;
	font-size: 15px;
	padding: 0;
	margin: 0;
}

div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 900;
}

p {
	line-height: 1.65em;
}

.header
{
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 57%);
	padding-top: 50px;
	padding-bottom: 50px;
}

.container
{
	width: 1024px;
	margin: 0 auto;
}

.up
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
}

.offer
{
	width: 700px;
}

.offer_title
{
	font-size: 30px;
	font-weight: 700;
	line-height: 40px;
	margin-bottom: 20px;
}

.offer_title-span
{
	text-transform: uppercase;
	font-size: 48px;
	font-family: 'Ubuntu', sans-serif;
}

.offer_text
{
	font-size: 16px;
}

.offer_btn
{
	display: block;
	width: 220px;
	height: 55px;
	background-color: rgb(255,204,0);
	font: bold;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	transition: all 0.5s;
}

.offer_btn:hover
{
	transform: translate(0,10px);
}

.img1
{
	width: 400px;
	animation: rotateV2 5s;
}

@keyframes rotateV2 
{
	0% { transform: rotate(0deg); }
	25% { transform: rotate(90deg); }
	50% { transform: rotate(180deg); }
	75% { transform: rotate(270deg); }
	100% { transform: rotate(360deg); }
}
  
.first_section
{
	background-color: white;
	padding-top: 50px;
	padding-bottom: 50px;
}

.need
{
	font-size: 30px;
	font: 700;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.first_section_blocks
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.first_section_block
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	animation: rotate 2s;
}

@keyframes rotate 
{
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.first_section_text
{
	color: black;
	font-weight: 700;
	font-size: 15px;
	line-height: 30px;
	margin-top: 20px;
	margin-bottom: 20px;	
}

.first_section_par
{
	color: gray;
	text-align: center;
}

#buton {
    width: 150px;
    height: 40px;
    background-color: rgb(88, 214, 53);
    text-align: center;
    padding-top: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    display: block;
    margin: auto;
}

#buton:hover
{
    cursor: pointer;
}

.JSform
{
    padding: 10px;
}

.JSformOutput
{
    padding: 10px;
}

#form
{
    width: 100%;
    margin: auto;
}

.row
{
    margin: 10px 10px;
}

.JSsection
{
    margin: auto;
    width: 100%;
    padding-top: 50px;
    /*background-color: rgb(128, 128, 128);*/
    padding: 10px;
}

input:invalid:required
{
	border: 2px solid rgb(240, 49, 49);
}

.second_section
{
	background-color: rgb(236, 236, 236);
	padding-top: 50px;
	padding-bottom: 50px;
}

.second_section_form
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.formform
{
	margin-bottom: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-right: 200px;
}

.second_section_btn
{
	display: block;
	width: 370px;
	height: 55px;
	background-color: rgb(255,204,0);
	font: bold;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	transition: all 0.5s;
}

.second_section_btn:hover
{
	transform: translate(0,10px);
}

.third_section
{
	padding-top: 20px;
	padding-bottom: 20px;
	background: rgb(0,212,255);
	background: linear-gradient(0deg, rgba(0,212,255,1) 32%, rgba(9,9,121,1) 100%);
}

.third_section_protected
{
	color: white;
	text-align: center;
}